page{
  padding-bottom: 10px;
  .home{
    position: relative;
    overflow: hidden;
    .grid{
      margin-top: 32px;
      --nutui-grid-item-text-font-size: 14px;
      .img{
        width: 37px;
        height: 37px;
      }
    }
  }
}
.wrapper{
  Image::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.33;
    background: #000000;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    border-radius: 10px;
  }
}
.zoujin{
  .wrapper{
    display: flex;
    justify-content: space-between;
    height: 163px;
    > View{
      > Image{
        height: 100%;
      }
      width: 49%;
      position: relative;
      .text{
        position: absolute;
        top: 16px;
        left: 16px;
        color: #ffffff;
        font-size: 16px;
        p{
          font-size: 12px;
        }
      }
    }
    .col2{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      > View {
        height: 49%;
        position: relative;
        > Image {
          height: 100%;
        }
      }
    }
  }
}
.leyou{
  margin-bottom: 0;
  padding-bottom: 0;
  .nut-tabs-titles-item-text {
    background: #F1F2F2;
    border-radius: 50px;
    // padding: 10px !important;
  }
  Image{
    height: 90px;
  }
}
.searchbar{
  position: absolute;
  top: 176px;
	--nutui-searchbar-background: none;
  // --nutui-searchbar-padding: 6px 34px;
  --nutui-searchbar-input-padding: 0 10px;
  .nut-searchbar-content{
    padding: 0px 18px;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 5%);
  }
}
